
html{
	background: #D7F9F1;
	text-align: center;
	font-family: 'oswald';
	font-size: 20px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);	
	height: 100%;
	background: repeating-linear-gradient(
  15deg,
  #819ecc,
  #817ecc 400px,
  #6773a8 400px,
  #6773a8 800px
);
	
}

body {
	text-align: center;
	margin: 0px; /*Or is 5px padding better???????????????????*/
	height: 100%;
	
	min-height:100%; 
    position:relative; 
    padding-bottom:[footer-height] ;
}


h1 { 
	/*color: #ce7b91;*/
	margin: 0px;
	color: #7AA095;
	font-size: 180px;
	text-align: center;
	text-shadow: 1px 4px 2px #121212;
}

#black{
	color: #000000;
	text-shadow: 3px 3px 9px #ffffff;
}

h2 {
	color: #498230;
	font-size: 80px;
	text-align: center;
	text-shadow: 3px 2px 2px #121212;										/*GENERAL TEXT SETTINGS*/
	letter-spacing: 2px;
}

h3 {
	color: #000000;
	font-size: 50px;
}

h4 {
	color: #000000;
}
	
p {
	color: #000000;
	font-size: 20px;
}

div {
	position: center;
}

img {
	border: 3px solid #000000;
	height: 250px;
	transition: 0.2s;
	margin: 3px;
}

img:hover {
	border: 3px solid #0ee;
	filter:grayscale(100%);
}

img.tall {
	height: 250px;
}

img.short {
	width: 500px;
}

.photos {
	margin: 50px;
	padding: 50px;
	
}











#frontNav {
	color: #ffffff;
}

#frontPage {
	font-size: 90px;
	background: transparent;
	color: #000000;
}

nav {
	font-size: 50px;
	background: #1a292c;
	padding: 5px;
	
}

nav a {
    color: #ffffff;
    width: 100px;
	height: auto;
	margin: 20px;
	
}

nav a:hover{
    text-shadow: 2px 2px 3px #000000;
	
}





.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;														/*STICKY PROPERTIES*/
	background-color: transparent;
	color: white;
 }

/*.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #618B4A;
  color: white;
  text-align: center;
}
*/
th, td{
	border: 2px solid black;
	
}

th {
	background-color: #618B4A;
	padding: 20px;
	border-radius: 4px;
	margin: 5px;
	border-spacing: 5px;
}

td {
	margin:;
	padding: 10px;
	border-radius: 4px;
}


tr:nth-child(even) {
	background-color: #8bad6c;
	border-radius: 4px;
	padding: 10px;

}

tr:nth-child(odd) {
	background-color: #81aB6A;
	border-radius: 4px;
	padding: 10px;

}









/*THE PHOTO CATEGORY SELECTOR*/

/* The grid: Three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 0px;
  text-align: center;
  font-size: 60px;
  cursor: pointer;
  color: black;
}

.containerTab {
  padding: 20px;
  color: white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}







